<%- include("header") -%>

  <div class="box" id="heading">
    <h1>
      <%= newList.name %>
    </h1>
  </div>
  <a href="/" id="goback">&larr;Back</a>
  <div class="box">
    <% newList['items'].forEach(element => {%>
      <form action="/delete" method="POST">
      <div class="item">
        <input type="hidden" name="listName" value="<%= newList.name   %>">
        <input type="checkbox" value="<%= element._id %>" name="checkbox" onchange="this.form.submit()">
        <p><%= element.name  %></p>
      </div>
    </form>
    <% }); %>

      <form class="item" action="/<%=newList.name   %> " method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value= <%= newList.name   %> >+</button>
      </form>
  </div>
  
  <%- include("footer") -%>